{% extends 'layouts/base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block body %}
<div class="faq">
    <h3>Why should I use Snake Eyes?</h3>
    <p>Because this game is incredible. It'll change your life.</p>

    <h3>Why should I use Snake Eyes?</h3>
    <p>Because this game is incredible. It'll change your life.</p>

    <h3>Why should I use Snake Eyes?</h3>
    <p>Because this game is incredible. It'll change your life.</p>

    <h3>Why should I use Snake Eyes?</h3>
    <p>Because this game is incredible. It'll change your life.</p>
</div>
{% endblock %}